@import "../fonts/fontawesome/css/all.min.css";

body {
  //  width
  &::-webkit-scrollbar {
    width: 8px;
  }

  // Track
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.3);
    border-radius: 8px;
  }

  //  Handle
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: linear-gradient(transparent, #570093);
    min-height: 80px;
  }
  scroll-behavior: smooth;
}
